.caja {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin: 5px;
}

.caja img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
}

footer{
    margin-top: 106px;
    width: 100%;
    height: 200px;
}

.img{
    max-width: 100%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

a.boton {
    margin-left: 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: green;
}

.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    align-items: center;
}

@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .img{
        max-width: 316px;
    }
}

@media (min-width: 768px) {
    .img2{
        max-width: 478px;
    }
}
/* Estilos para el formulario */
body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    align-items: center;
}

.bx{
    font-size: 30px;
    transform: translateX(2px);
    cursor: pointer;
    margin-top: -7px;
}

/*inicio sesion*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}
form {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #45a049;
}
