.caja {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin: 5px;
}

.caja img {
    max-width: 100%;
    max-height: 100%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    object-fit: cover;
}

.centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: beige;  
    border-radius: 10px;
}

.centro h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.centro form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .campo_texto{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px
}

.campo_texto input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.campo_texto label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.campo_texto span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}

.campo_texto input:focus ~ label,
.campo_texto input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.campo_texto input:focus ~ span::before,
.campo_texto input:valid ~ span::before{
    width: 100%;
}

.contra{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.contra:hover{
    text-decoration: underline;
}

input[type = "subdmit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type = "subdmit"]:hover{
    border-color: #2691d9;
    transition: .5s;
}

.enlace_registro{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.enlace_registro a{
    color: #2691d9;
    text-decoration: none;
}

.enlace_registro a:hover{
    text-decoration: underline;
}

footer{
    margin-top: 106px;
    width: 100%;
    height: 200px;
}

.img{
    max-width: 100%;
    height: auto;
}

.img2{
    max-width: 100%;
    height: auto;
}

a.boton {
    margin-left: 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: green;
}

.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    align-items: center;
}

@media (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) {
    .img{
        max-width: 316px;
    }
}

@media (min-width: 768px) {
    .img2{
        max-width: 478px;
    }
}
